{%- if paginate.pages > 1 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul class="pagination__list">
      {%- if paginate.previous -%}
        <li class="pagination__item">
          <a
            href="{{ paginate.previous.url }}"
            class="pagination__link pagination__link--prev"
            aria-label="{{ 'general.pagination.previous' | t }}"
          >
            {% render 'icon-arrow-left' %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li class="pagination__item">
          {%- if part.is_link -%}
            <a
              href="{{ part.url }}"
              class="pagination__link"
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
            >
              {{ part.title }}
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span
                class="pagination__link pagination__link--current"
                aria-current="page"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{ part.title }}
              </span>
            {%- else -%}
              <span class="pagination__link pagination__link--ellipsis">
                {{ part.title }}
              </span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="pagination__item">
          <a
            href="{{ paginate.next.url }}"
            class="pagination__link pagination__link--next"
            aria-label="{{ 'general.pagination.next' | t }}"
          >
            {% render 'icon-arrow-right' %}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%} 