{%- liquid
  assign articles = blog.articles
  assign articles_per_page = section.settings.articles_per_page
  assign columns = section.settings.columns
  assign show_featured_image = section.settings.show_featured_image
  assign show_date = section.settings.show_date
  assign show_author = section.settings.show_author
  assign show_excerpt = section.settings.show_excerpt
-%}

<div class="blog" data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="blog__header">
    <h1 class="blog__title">{{ blog.title }}</h1>
    
    {%- if blog.description != blank -%}
      <div class="blog__description">
        {{ blog.description }}
      </div>
    {%- endif -%}
  </div>

  <div class="blog__articles">
    <div class="blog__grid blog__grid--{{ columns }}">
      {%- for article in articles limit: articles_per_page -%}
        <div class="blog__article">
          <div class="blog__article-card">
            {%- if show_featured_image and article.image != blank -%}
              <div class="blog__article-image-wrapper">
                <a href="{{ article.url }}" class="blog__article-image-link">
                  <img
                    src="{{ article.image | img_url: '600x' }}"
                    alt="{{ article.image.alt | escape }}"
                    class="blog__article-image"
                    loading="lazy"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                  >
                </a>
              </div>
            {%- endif -%}
            
            <div class="blog__article-content">
              <h2 class="blog__article-title">
                <a href="{{ article.url }}" class="blog__article-title-link">
                  {{ article.title }}
                </a>
              </h2>
              
              {%- if show_date or show_author -%}
                <div class="blog__article-meta">
                  {%- if show_date -%}
                    <span class="blog__article-date">
                      {{ article.published_at | date: "%B %d, %Y" }}
                    </span>
                  {%- endif -%}
                  
                  {%- if show_author -%}
                    <span class="blog__article-author">
                      {{ article.author }}
                    </span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              
              {%- if show_excerpt and article.excerpt != blank -%}
                <div class="blog__article-excerpt">
                  {{ article.excerpt }}
                </div>
              {%- endif -%}
              
              <a href="{{ article.url }}" class="blog__article-read-more">
                {{ 'blogs.article.read_more' | t }}
              </a>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>

  {%- if paginate.pages > 1 -%}
    <div class="blog__pagination">
      {%- render 'pagination', paginate: paginate -%}
    </div>
  {%- endif -%}
</div> 